/* Navbar */
.navbar {
    background-color: #2c3e50;
    color: #fff;
}

.navbar-brand{
    max-width: 150px;
    margin-bottom: 0px;
}

/* Jumbotron */
.jumbotron {
    background-image: url("./assets/images/main.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 200px 0;
}

.jumbotron h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.jumbotron a.btn {
    background-color: #c49633;
    border: 0;
    border-radius: 30px;
    color: #fff;
    padding: 12px 30px;
}

/* Our Services */
#our-services .service-item {
    margin-bottom: 40px;
}

#our-services img {
    width: 100%;
    height: auto;
}

/* Portfolio */

#portfolio img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Warranty */
#warranty .warranty-item {
    margin-bottom: 40px;
}

#warranty img {
    width: 20%;
    height: auto;
}

/* Contact Us */
#contact-us form {
    max-width: 600px;
    margin: 0 auto;
}

#contact-us .form-control {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    color: #fff;
    padding: 20px 0;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer .contact-info p {
    margin: 5px 0;
}

/* Botones */
.btn-primary {
    background-color: rgb(119, 119, 119);
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 12px 30px;
}